<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!--/*@thymesVar id="book" type="cn.tac.test.spring.boot.thymeleaf.pojo.Book"*/-->
<span th:text="${book.author.name}"></span>

<ul>
    <!--/*@thymesVar id="books" type="java.util.List"*/-->
    <li th:each="b : ${books}" th:text="${b.author.name}"></li>
</ul>

<!--/*@thymesVar id="titledBook" type="cn.tac.test.spring.boot.thymeleaf.pojo.Book"*/-->
<div th:object="${titledBook}">
    <p>书名：<span th:text="*{title}"></span>，作者：<span th:text="*{author.name}"></span></p>
</div>

</body>
</html>
